.app-container {
  display: flex;
  height: 100vh;
  background-color: #f4f7f6;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.content-wrapper {
  padding: 1.5rem;
}